.barcode-wrap
  width: 100%
  .root
    padding: 24px
    margin: 16px auto
    @media (min-width: 758px)
      width: fit-content
    .grid-container
      @media (min-width: 750px)
        max-width: 750px
      .inline
        display: flex
        .left
          flex: 1
        .right
          width: 120px
          margin-left: 8px
      .canvas
        display: flex
        justify-content: center
        align-items: center
        min-height: 220px